@model List<CourseCategoryDto>
@{
    int counter = 1;
}
<div class="col-xl-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title float-left">Kategoriler</h2>
            <div class="actions panel_actions float-right">
                <a href="/Admin/Courses/AddCourseCategory" class="btn btn-success"><i style="color:white;" class="fa fa-plus"></i>Yeni Kategori Ekle</a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="text-align: left;">Kategori</th>
                                <th style="text-align: right;">Aktiflik</th>
                                <th style="text-align: right;">Düzenle</th>
                                <th style="text-align: right;">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td style="text-align: left;">@item.Title</td>
                                    <td style="text-align: right;">
                                        <label class="switch">
                                            <input type="checkbox" checked="@(item.Status)">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td style="text-align: right;"><a href="/Admin/Courses/EditCourseCategory"><i style="font-size: 20px !important;" class="fa fa-pencil text-warning"></i></a></td>
                                    <td style="text-align: right;">
                                        <form asp-action="DeleteCourseCategory" asp-controller="Courses" asp-area="Admin" method="post" style="display:inline" onsubmit="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">

                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="@item.ID" />

                                            <button type="submit" class="btn btn-link p-0 m-0" title="Sil">
                                                <i class="fa fa-eraser text-danger" style="font-size: 20px !important;"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
