@model List<StudentTestimonialListDto>

@{
    int counter = 1;
}

<div class="col-xl-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title float-left" style="display: inline-block; margin-right: 8px;">
                Öğrencilerimiz Ne Diyor?
                <a data-toggle="modal" href="#ModalStudentTestimonials" title="Düzenle">
                    <i class="fa fa-pencil text-warning" style="margin-left: 5px; font-size:20px; vertical-align: middle;"></i>
                </a>

                <!-- modal start -->
                <div class="modal fade" id="ModalStudentTestimonials" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Başlık Düzenleme</h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Başlık</label>
                                            <input type="text" class="form-control" id="field-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-success" href="#">Kaydet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal end -->

            </h2>
            <div class="actions panel_actions float-right">
                <a href="/Admin/Home/AddStudentTestimonials" class="btn btn-success"><i style="color:white;" class="fa fa-plus"></i>Yeni Yorum Ekle</a>
            </div>
        </header>

        <div class="content-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="text-align: left;">İsim</th>
                                <th style="text-align: left;">Soyisim</th>
                                <th style="text-align: left;">Eğitim </th>
                                <th style="text-align: left;">Yorum</th>
                                <th style="text-align: left;">Puan</th>
                                <th style="text-align: right;">Aktiflik</th>
                                <th style="text-align: right;">Düzenle</th>
                                <th style="text-align: right;">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td style="text-align: left;">@item.Name</td>
                                    <td style="text-align: left;">@item.Surname</td>
                                    <td style="text-align: left;">@item.Education</td>
                                    <td style="text-align: left;">@Html.Raw(item.Testimonial)</td>
                                    <td style="text-align: left;">@item.Rate</td>
                                    <td style="text-align: right;">
                                        <label class="switch">
                                            <input type="checkbox" checked="@(item.Status)">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td style="text-align: right;"><a href="/Admin/Home/EditStudentTestimonials/@item.ID"><i style="font-size: 20px !important;" class="fa fa-pencil text-warning"></i></a></td>
                                    <td style="text-align: right;">
                                        <form asp-action="DeleteStudentTestimonials"
                                              asp-controller="Home"
                                              asp-area="Admin"
                                              method="post"
                                              style="display:inline"
                                              onsubmit="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">

                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="@item.ID" />

                                            <button type="submit" class="btn btn-link p-0 m-0" title="Sil">
                                                <i class="fa fa-eraser text-danger" style="font-size: 20px !important;"></i>
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
